*.html linguist-vendored

*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.yaml linguist-vendored=false
*.yaml linguist-generated=false
*.yaml linguist-documentation=false
*.yaml linguist-detectable=true
