*.html linguist-vendored

*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.yml linguist-vendored=false
*.yml linguist-generated=false
*.yml linguist-documentation=false
*.yml linguist-detectable=true
